<div class="col-md-2 d-flex flex-row flex-md-column align-items-center" th:fragment="sidebar">
	<div
		class="my-4 mx-sm-2 mx-2 mx-md-0 font-16 square grey-border white-color round-corner-small d-flex flex-row justify-content-center align-items-center">
		<a class="nav-link" th:href="@{/member/account}"> <i class="fas fa-home "></i></a>
	</div>
	<div
		class="my-4 mx-sm-2 mx-2 mx-md-0 font-16 square grey-border purple-color-2 round-corner-small d-flex flex-row justify-content-center align-items-center">
		<a class="nav-link" th:href="@{/member/loan-calculator}"><i class="fas fa-calculator"></i></a>
	</div>
	<div
		class="my-4 mx-sm-2 mx-2 mx-md-0 font-16 square grey-border purple-color-2 round-corner-small d-flex flex-row justify-content-center align-items-center">
		<a class="nav-link" th:href="@{/member/loan}"><i class="fas fa-university"></i></a>
	</div>
	<div
		class="my-4 mx-sm-2 mx-2 mx-md-0 font-16 square grey-border purple-color-2 round-corner-small d-flex flex-row justify-content-center align-items-center">
		<a class="nav-link" th:href="@{/member/transfers}"><i class="fas fa-money-check"></i></a>
	</div>
	<div
		class="my-4 mx-sm-2 mx-2 mx-md-0 font-16 square grey-border purple-color-2 round-corner-small d-flex flex-row justify-content-center align-items-center">
		<a class="nav-link" th:href="@{/member/report}"><i class="fas fa-history"></i></a>
	</div>
	<div
		class="mt-auto ms-auto ms-sm-auto my-4 mx-sm-2 mx-2 mx-md-0 font-16 square purple-bg-color white-color round-corner-small d-flex flex-row justify-content-center align-items-center">
		<i class="fas fa-plus "></i>
	</div>
</div>